.banner .swiper {
  width: 240px;
  height: 320px;

}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  ;
}




.banner .swiper-slide:nth-child(1n) {

  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1598356570i/55118247.jpg");

}

.banner .swiper-slide:nth-child(2n) {

  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1644884868i/60417483.jpg");
}


.banner .swiper-slide:nth-child(3n) {
  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1637602267i/58891551.jpg");

}

.banner .swiper-slide:nth-child(4n) {

  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1690942251i/179546766.jpg");
}

.banner .swiper-slide:nth-child(5n) {

  background-image: url("https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1568469118l/53050139.jpg");
}